/* CopyToClipboardButton.css */
.copy-to-clipboard {
  /* display: flex; */
  /* align-items: center; */
  cursor: pointer;
}

.copied i {
  color: gold;
  transition: color 0.3s ease-in-out;
}

.copied-message {
  margin-left: 10px;
  color: gold;
  font-size: 1em;
  transition: opacity 0.3s ease-in-out;
}
